<p id="notice"><%= notice %></p>

<p>
  <b>Feed preference:</b>
  <%= @preference.feed_preference %>
</p>


<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
